html{
    background-color: #1d1d4a;
}
#emP{
    float: right;
    width: 470px;
    height: 360px;
    margin-top: 25px;
    margin-right: 25px;
    position: relative;
    -webkit-backface-visibility: hidden;
    background-color: #c6c9d6;
    border-radius: 10px;
    transition: transform 0.5s ease; 
}
#boat{
    position: relative;
    margin-left: -510px;
    margin-bottom: 225px;
    
}
#trH{
    position: relative;
    margin-left: 50px;
    margin-top: -600px; 
    width:200px;
    
    
}

#image{
    position: relative;
    height:450px;
    width:850px;
    border:2px solid black;
    border-radius: 15px;
}
#display{
    color: #dd3153;
    font-size: 25px;
}